.title-bar-bg {
    background-color: #08aaa0 !important;
}

.heading-text {
    color: #6e42f0 !important;
    text-decoration: underline !important;
}

.body-text {
    color: #20ffff !important;
}

.border-color {
    border-color: #0073e6 !important;
}